<h2>Welcome to LinkedIn</h2>

<form class=".col-sm-" [formGroup]="loginDetails" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            formControlName="username"
        />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
        />
    </div>
    <button type="button" class="btn btn-primary" type="submit" [disabled]="!loginDetails.valid">Login</button>
</form>
