:host {
    display: inline-block;
    width: 30vw;
    height: 40vh;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
