<div class="experience category">
    <h2>
        Professional Experiences
        <span class="right">
            <button>
                <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                    ></path>
                </svg>
            </button>
        </span>
    </h2>
    <h4 *ngIf="experiences.length == 0">No Experiences added!</h4>
    <div class="inner" *ngFor="let experience of experiences; let last = last">
        <h3>
            <span>{{ experience.role }}</span>
            <span class="right">
                {{ experience.duration }}
            </span>
        </h3>
        <h4>{{ experience.company }}</h4>
        <h4 class="years">
            {{ experience.startMonth }} - {{ experience.endMonth }}
        </h4>
        <hr *ngIf="!last" />
    </div>
</div>
