<script src="experience-inner/experience-inner.component.spec.ts"></script>
<div class="experience category">
    <h2>
        Professional Experiences
        <span class="right">
            <button (click)="switchCreate()">Add</button>
        </span>
    </h2>
    <h4 *ngIf="experiences.length == 0">No Experiences added!</h4>
    <div class="inner" *ngFor="let experience of experiences; let last = last">
        <app-experience-inner [experience]="experience" (myEvent)="reload()"></app-experience-inner>
        <hr *ngIf="!last" />
    </div>
    <div class="inner">
        <div *ngIf="create">
            <form class="personal-info .col-sm-" [formGroup]="experienceEditForm" (ngSubmit)="submitForm()">
                <div class="mb-3 row element">
                    <label for="company" class="col-sm-4 col-form-label">Company:</label>
                    <div class="col-sm-8">
                        <input id="company" type="text" placeholder="Enter Company" formControlName="company">
                    </div>
                </div>
                <div class="mb-3 row element">
                    <label for="role" class="col-sm-4 col-form-label">Role:</label>
                    <div class="col-sm-8">
                        <input id="role" type="text" placeholder="Enter your Role" formControlName="role">
                    </div>
                </div>
                <div class="mb-3 row element">
                    <label for="startMonth" class="col-sm-4 col-form-label">Start Month:</label>
                    <div class="col-sm-8">
                        <input id="startMonth" type="email" placeholder="Enter Start Month" formControlName="startMonth">
                    </div>
                </div>
                <div class="mb-3 row element">
                    <label for="endMonth" class="col-sm-4 col-form-label">End Month:</label>
                    <div class="col-sm-8">
                        <input id="endMonth" type="text" placeholder="Enter End Month" formControlName="endMonth">
                    </div>
                </div>
                <div class="mb-3 row element">
                    <label for="duration" class="col-sm-4 col-form-label">Duration:</label>
                    <div class="col-sm-8">
                        <input id="duration" type="text" placeholder="Enter Duration" formControlName="duration">
                    </div>
                </div>
                <div class="mb-3 row element">
                    <label for="description" class="col-sm-4 col-form-label">Description:</label>
                    <div class="col-sm-8">
                        <input id="description" type="text" placeholder="Enter Description" formControlName="description">
                    </div>
                </div>
                <div class="mb-3 row element">
                    <label for="location" class="col-sm-4 col-form-label">Location:</label>
                    <div class="col-sm-8">
                        <input id="location" type="text" placeholder="Enter Location" formControlName="location">
                    </div>
                </div>
                <button class="btn btn-success" type="submit" [disabled]="!experienceEditForm.valid">Create</button>
                <button type="button" class="btn btn-secondary right" (click)="switchCreate()">Cancel</button>
            </form>
        </div>
    </div>
</div>
