<script src="../experience.ts"></script>
<div class="profile">
    <h2 class="name">Register User</h2>
</div>
<div class="dashboard">
    <form class="personal-info .col-sm-" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 row element">
            <label for="username" class="col-sm-4 col-form-label">Username:</label>
            <div class="col-sm-8">
                <input id="username" type="text" placeholder="Enter Username" formControlName="username">
            </div>
        </div>
        <div class="mb-3 row element">
            <label for="password" class="col-sm-4 col-form-label">Password:</label>
            <div class="col-sm-8">
                <input id="password" type="password" placeholder="Enter Password" formControlName="password">
            </div>
        </div>
        <div class="mb-3 row element">
            <label for="name" class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-8">
                <input id="name" type="text" placeholder="Enter your Name" formControlName="name">
            </div>
        </div>
        <div class="mb-3 row element">
            <label for="email" class="col-sm-4 col-form-label">Email ID:</label>
            <div class="col-sm-8">
                <input id="email" type="email" placeholder="Enter Email ID" formControlName="email">
            </div>
        </div>
        <div class="mb-3 row element">
            <label for="status" class="col-sm-4 col-form-label">Status:</label>
            <div class="col-sm-8">
                <input id="status" type="text" placeholder="Enter Status" formControlName="status">
            </div>
        </div>
        <div class="mb-3 row element">
            <label for="description" class="col-sm-4 col-form-label">Description:</label>
            <div class="col-sm-8">
                <input id="description" type="text" placeholder="Enter Description" formControlName="description">
            </div>
        </div>
        <div class="mb-3 row element">
            <label for="address" class="col-sm-4 col-form-label">Address:</label>
            <div class="col-sm-8">
                <input id="address" type="text" placeholder="Enter Address" formControlName="address">
            </div>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">Register</button>
        <button class="btn btn-secondary right" type="reset">Reset</button>
    </form>
</div>
