<div class="skills category">
    <h2>
        Programming Skills
        <span class="right">
            <button (click)="switchCreate()">Add</button>
        </span>
    </h2>
    <h4 *ngIf="skills.length == 0">No Skills added!</h4>
    <div class="inner" *ngFor="let skill of skills; let last = last">
        <app-skill-inner [skill]="skill" (myEvent)="reload()"></app-skill-inner>
        <hr *ngIf="!last" />
    </div>
    <div class="inner">
        <div *ngIf="create">
            <form class="personal-info .col-sm-" [formGroup]="skillEditForm" (ngSubmit)="submitForm()">
                <div class="mb-3 row element">
                    <label for="language" class="col-sm-4 col-form-label">Language:</label>
                    <div class="col-sm-8">
                        <input id="language" type="text" placeholder="Enter Language" formControlName="language">
                    </div>
                </div>
                <div class="mb-3 row element">
                    <label for="level" class="col-sm-4 col-form-label">Level:</label>
                    <div class="col-sm-8">
                        <input id="level" type="text" placeholder="Enter your Level" formControlName="level">
                    </div>
                </div>
                <button class="btn btn-success" type="submit" [disabled]="!skillEditForm.valid">Create</button>
                <button type="button" class="btn btn-secondary right" (click)="switchCreate()">Cancel</button>
            </form>
        </div>
    </div>
</div>
