/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Inter", sans-serif;
  letter-spacing: -.04em;
}

// Profile page styles

.dashboard {
  h2 {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bold;

    .right {
      float: right;
      color: gray;
      font-size: .8em;
      font-weight: bold;

      button{
        width: 15%;
        border: none;
        background-color: transparent;
        color: lightskyblue;
        &+.right{
          margin-left: 10%;
        }
      }
    }
  }

  h5 {
    font-size: 1.2em;
    font-weight: 400;

    span {
      font-weight: 600;
    }
  }

  h4 {
    font-size: 1.2em;
    font-weight: 400;

    span {
      font-weight: 600;
    }

    .right {
      float: right;
      color: gray;
      font-size: .8em;
      font-weight: bold;
    }
  }

  h3 {
    font-size: 1.4em;
    font-weight: 400;

    span {
      font-weight: bold;
    }

    .right {
      float: right;
      height: 1.6em;
      width: 1.6em;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: center;

      button {
        border: none;
        background-color: transparent;
        width: 100%;
        height: 100%;

        &:focus {
          outline: 0;
        }
      }

      &:hover {
        background-color: lightsteelblue;
      }

      svg {
        width: 1em;
        height: 1em;
      }
    }

  }

  .category {
    padding: 1em 0;
    margin: .5em 0;

    .inner {
      margin: 1em 0;
    }

    .years {
      color: grey;
    }
  }
}


.profile {
  display: block;
  background-color: lightblue;
  padding: 20vh 20vw 2em;

  .name {
    font-weight: bold;
    font-size: 6em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .profession {
    margin-top: .5em;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
  }

  .description {
    margin: 1em 0;
    font-size: 1.2em;
    width: 30vw;
    font-style: italic;
  }
}

.dashboard {
  width: 60vw;
  margin: 2em 20vw;

  .personal-info {
    padding: 1em 0;
    margin: .5em 0;
  }

}

button{
  width: 15%;
  margin: 2em 5em;
  &+.right{
      margin-left: 10%;
  }
}

.link{
  font-size: 1.2em;
  font-weight: bold;
  color: grey;
}
